*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
}







body{
    margin: 0;
    padding: 0;
    background: rgb(209, 209, 209);
    overflow-x: hidden;

}

                /*media queries*/

 @media(max-width: 768px){
    .nav-links{
        display: none;
    }

    .menu-img{
        display: block;
    }
}

 @media(min-width: 769px){
  .menu-img {
        display: none;
    }

    .nav-links{
        display: block;
    }
}


@media(min-width: 769px){
  .mobile-footer {
        display: none;
    }
}

@media(min-width: 769px){
  .info {
        display: none;
    }
}

/*shortcut of (seasons, days,food and numbers shows on desktop only*/
@media(max-width: 768px){
  .shortcut1 {
        display: none;
    }
}

@media(max-width: 768px){
  .shortcut11 {
        display: none;
    }
}


                    /*header*/    
   
    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        height: 4rem;
        background: rgb(22, 120, 150);
        padding: 0;


    }

    


     .head h3{
        color: rgb(250, 250, 238);
        margin-left: 2rem;
        cursor: pointer;
        font-family: 'Archivo';
        font-size: 20px;
    }

     .head p{
        font-size: 10px;
        margin-top: 5px;
        color: rgb(255, 255, 255);
        margin-left: 3rem;
        
    }

   .head .menu{
        display: flex;
        gap: 1rem;
        padding: 0;
        
    }

   .head .menu img{
        width: 16px;
        margin: 0px;
        margin-right: 2rem;
        cursor: pointer;
    }

    ul{
        display: flex;
        align-items: center;
        padding: 1rem;
        color:  rgb(250, 250, 238); ;
        list-style: none;
        gap: 1rem;
        margin-right: 2rem;
       
    }

    li{
        cursor: pointer;
    }


    /* search bar*/

.search-bar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.search-bar input{
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 1rem;   
}


                /*slide section of shortcuts*/

.shortcut{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 3rem 0;
   
}

.shortcut .shortcut1 {
    
    border: 1px solid rgba(128, 128, 128, 0.692);
    border-radius: 30px;
    width: 120px;
    height: 2rem;
    padding: 5px 0px 0px 27px;
     background: whitesmoke;
     cursor: pointer;
   
    
}

.shortcut .shortcut11 {
    
    border: 1px solid rgba(128, 128, 128, 0.692);
    border-radius: 30px;
    width: 120px;
    height: 2rem;
       padding: 5px 0px 0px 40px;
        background: whitesmoke;
        cursor: pointer;
    
    
}

            /* section for random words and 22 words*/


.info {
    margin-top: -170px;
    width: 100%;
    height: 150px;
    background: rgb(22, 120, 150);;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
 
}


            /* section for dictionary random words*/



.cards{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 5rem;
    
    

}

.card{
    background-color: whitesmoke;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}

.card p{
    line-height: 2;
}

.card img{
    margin-left: 3rem;
    cursor: pointer;
}

hr {
  /* Change the color to a lighter shade */
  color: #ccc; 
  background-color: #ccc; /* For browsers that need this property */

  /* Reduce the height (thickness) */
  height: 1px; 
  border: none; /* Remove default border to use color/background-color consistently */

  /* Lower the opacity to make it transparent */
  opacity: 0.5; /* Value between 0.0 (fully transparent) and 1.0 (fully opaque) */

  /* Optional: Adjust width to make it less prominent */
  width: 100%;
  margin: auto; /* Center the line */
}



footer {
    display: grid;
    align-items: center;
    justify-content: center;
    background: rgb(22, 120, 150);
    width: 100%;
    

}

footer ul{
    padding: 1rem;
    display: grid;
    justify-content: center;
}

footer .copyright{
    margin-bottom: 0;
    display: grid;
    justify-content: center;
    padding: 1rem;
}
